@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body{
	font-family: "Playfair Display", serif;
  margin:0;
  background: rgb(207,228,231);
background: linear-gradient(0deg, rgba(207,228,231,1) 47%, rgba(255,255,255,1) 92%);
  
}

p{
	font-family: "Bungee Spice", sans-serif;
}
/* Website Links except the nav */

a:link{
  color: green;
}

a:visited{
  color: #556426;
}

a:hover{
  color: black;
}

a:active{
  color: black;
}

nav ul{
 list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav li{
  display: inline;
  padding: 5px;
}

nav a:link{
    color:purple;
}

nav a:visited{
    color:purple;
}

nav a:hover{
    color:black;
}

nav a:active{
    color:violet;
}

footer{
    border-top: purple 3px solid;
    text-align:center;
  }
h1{
    font-size:4em;
}

.home-hero{
    background-image: url(images/hero.jpg);
    background-size: cover;
}

.home-hero h1{
    font-family: "Playfair Display", serif;
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding: 90px 0;
    margin:0;
    color: white;

}

.gamepage{

    border: 5px inset #ff1a75;
    padding: 5px;
    text-align: center;


}

.myButton{
    text-align: center;
    margin-left:50%;
    font-size: 25px;
    
}

.myButton:hover{
        color: red;
}


.bodyresume{

    font-family: "Playfair Display", serif;
    margin:0;
    background: rgb(207,228,231);   
    background: linear-gradient(0deg, rgba(207,228,231,1) 47%, rgba(255,255,255,1) 92%);
}


@media only screen and(max-width: 1024px) {
    h1{
         font-size:2em;
    }
}
  @media only screen and(max-width: 768) {
    h1{
        font-size:1.5em;
    }
}

h1{
      font-family: "Racing Sans One", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align:center;
      color: #333300;
}

nav{
      
      text-align:center;
      letter-spacin2: .2em;
      padding: 1px;
      border-top: 8px solid purple;
      border-bottom: 8px solid purple;
      font-size: 35px;
      
      
}

h3{
    font-size: 30px;
}

h4{

    font-size: 25px;
}

footer{
    clear:both;
    border-top: purple 3px solid;
    text-align:center;
    background-color: #ccccff;
      
}

.resume{

    box-shadow: 2px 2px 2px black;
    border: 1px solid #000000;
    padding-left : 10%;
    padding-right : 10%;
    max-width: 1200px;
    background-color: #e6e6e6;
}

.pageresume{

    font-size: 20px;
}

.portfoliocv{
  background-color: #8c8c8c; /* Green */
  color: white;
  border-radius: 50px;
  border: 1px solid #111111;
  padding: 8px 15px;
  margin: 50px;
  text-align: center;
  max-width: 400px;
  display: block;
  margin: 20 auto;
  

}

h2{
      font-size: 3em;
      border-bottom: 3px solid purple;
      color: #333300;
}

main{
      max-width: 1000px;
      margin:20px auto;
      padding:10px;
}

.mylogo{

    margin: 0 auto;
   display:block;
   max-width: 300px;
}

.portfolio img{

    margin-bottom:30px;
    box-shadow: 2px 2px 2px black;
}

.portfolioimg:hover{
    transform: scale(1.1); /* Zoom in 10% */
    opacity: 0.8; /* Fade slightly */
    

}

.copyright{

    text-align: center;
}

.gallery .preview{
    width: 100%;
    height: auto;
}

.gallery .gallery-thumbnails img {
    width: 100px;
    height: 75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}

.container-fluid{

    padding-top: 
    border-bottom: 8px solid purple;
}

.container-flui{

    padding-top: 20px;


}
.img-fluid{

    border-radius: 50px;
}

.preview{

    border-radius: 150px;
}

.galle

/* JavaScript Game changes for mobile */
.mobile{
    display:none;
}

@media only screen and (max-width: 768px){
    .desktop{
        display:none;
    }

    .mobile{
        display: block;
        touch-action: manipulation;
    }
}
