@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body{
	font-family: "Playfair Display", serif;
  margin:0;
}

p{
	font-family: "Bungee Spice", sans-serif;
}
/* Website Links except the nav */

a:link{
  color: #b300b3;
}
a:visited{
  color: #b300b3;
}
a:hover{
  color: blue;
}
a:active{
  color: black;
}

nav ul{
 list-style-type: none;
}
nav a {
  text-decoration: none;
}
nav li{
  display: inline;
  padding: 5px;
  }
  nav a:link{
    color:purple;
  }
nav a:visited{
    color:purple;
  }
nav a:hover{
    color:black;
  }
nav a:active{
    color:violet;
  }
footer{
    border-top: purple 3px solid;
    text-align:center;
  }
h1{
    font-size:4em;
  }
  @media only screen and(max-width: 1024px) {
h1{
    font-size:2em;
  }
  }
  @media only screen and(max-width: 768) {
h1{
      font-size:1.5em;
    }
    }
h1{
      font-family: "Racing Sans One", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align:center;
    }

nav{
      background: rgb(219,219,219);
      background-color: #d6d6c2;
      text-align:center;
      letter-spacing: .2em;
      padding: 8px;
      border: 5px inset gray;
      font-size: 1.5em;
      
      
    }
footer{
      border-top: black 3px solid;
      text-align: center;
      background-color: #c3c388;
    }
h2{
      font-size: 3em;
    }

main{
      max-width: 1200px;
      margin:20px auto;
      padding:10px;
    }

.home-hero{

    background-image: url(images/header.jpg);
    height:475px;
    background-size: center;
    background-position: center;
    color:#042837;
    padding: 10px 10px 10px 30px;

}

blockquote{
    background-color: #eeeeee;
    border-left: 10px solid gray;
    padding-left: 30px;
    font-size: 30px;
}

img{

    display: block;
    margin: 0 auto;
    padding-left: 20px;
}

.fa{

    color: #6b6b47;
    font-size: 50px;
}

.fa:hover{

    color: beige;
}

.container-fluid1{ 

text-align: center;
 }
